body{
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.register-card{
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.logo{
    text-align: center;
    margin-bottom: 20px;
    color: #1d85a1f3;

}
.welcome-section{
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}
.welcome-section p {
    color: #666;
}
.welcome-section h2 {
    margin-bottom: 10px;
}

.name-input,
.email-input,
.phone-input,
.password-input,
.confirm-password-input{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;;
}
.register-btn{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: #0f7ea0;
    border: none;
    font-size: 16px;
}
.register-btn:hover{
    background-color: #15657b;
}
.login-section{
    text-align: center;
    margin-top: 20px;;
}
a {
    text-decoration: none;
    color: #1d85a1f3;
}

input:focus {
    outline: none;
    border-color: #1d85a1f3;
}