body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #1d85a1f3;
    font-weight: bold;
}

.logo h2 {
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #0f7ea0;
}

.search-summary-section{
    text-align: center;
    padding: 20px;
}
.route-info h2 {
    color: #0f7ea0;
    margin-bottom: 10px;
}

.date-info,
.result-count {
    color: #666;
}
.results-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.ticket-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: 10px 0;
}

.ticket-card:hover {
    transform: translateY(-5px);
    border: 1px solid #0f7ea0;
}

.ticket-type h3 {
    color: #0f7ea0;
    margin-top: 0;
}

.price {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.view-details-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0f7ea0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.view-details-btn:hover {
    background-color: #15657b;
}